@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face{
        font-family: artifakt;
        src: local('artifakt'), url('/fonts/artifakt/ArtifaktElementRegular.ttf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face{
        font-family: artifakt;
        src: local('artifakt'), url('/fonts/artifakt/Artifakt Element Bold.ttf');
        font-weight: bold;
        font-display: swap;
    }
}
